<div class="page-controls">
  <a alt="previous page"
      href=<%= `./${currentPage - 1 >= min ? currentPage - 1 : currentPage}` %>
      class="page-nav previous">
    Previous
  </a>
  <a alt="next page"
     href=<%= `./${currentPage + 1 <= max ? currentPage + 1 : currentPage}` %>
     class="page-nav next">
    Next
  </a>
</div>
