.book-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 70%;
  min-width: 70%;
}

.book-image{
  margin-top: 10px;
}

.book-content {
  width: 50%;
}

.book-info p {
  line-height: 2;
}

.title {
  max-width: 40%;
}

.genre {
  margin-bottom: 30px;
}

.book-container {
  margin-top: -100px;
  height: 70vh;
  width: 40%;
}

.book-container .description {
  text-align: justify;
  width: 80%;
  margin: 10px auto;
}
