body {
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  height: 50vh;
  margin-top: 15vh;
}

.song-container {
  text-align: center;
  box-shadow: 0 0 5px 5px lightgray;
  width: 30%;
  height: 100%;
}

.song-container h2 {
  border-bottom: 2px solid lightgray;
  margin: 30px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.song-container .artist {
  font-size: 24px;
}

.song-container .stream {
  font-size: 15em;
  font-weight: bold;
  color: lightgray;
}
